InputData/*
!InputData

CSMs_construction/CancerCellLines/csm_models/Localgini/FASTCORE/*
CSMs_construction/CancerCellLines/csm_models/Localgini/GIMME/*
CSMs_construction/CancerCellLines/csm_models/Localgini/iMAT/*
CSMs_construction/CancerCellLines/csm_models/Localgini/INIT/*
CSMs_construction/CancerCellLines/csm_models/Localgini/MBA/*
CSMs_construction/CancerCellLines/csm_models/Localgini/mCADRE/*

CSMs_construction/CancerCellLines/csm_models/LocalT2/FASTCORE/*
CSMs_construction/CancerCellLines/csm_models/LocalT2/GIMME/*
CSMs_construction/CancerCellLines/csm_models/LocalT2/iMAT/*
CSMs_construction/CancerCellLines/csm_models/LocalT2/INIT/*
CSMs_construction/CancerCellLines/csm_models/LocalT2/MBA/*
CSMs_construction/CancerCellLines/csm_models/LocalT2/mCADRE/*

CSMs_construction/CancerCellLines/csm_models/StanDep/FASTCORE/*
CSMs_construction/CancerCellLines/csm_models/StanDep/GIMME/*
CSMs_construction/CancerCellLines/csm_models/StanDep/iMAT/*
CSMs_construction/CancerCellLines/csm_models/StanDep/INIT/*
CSMs_construction/CancerCellLines/csm_models/StanDep/MBA/*
CSMs_construction/CancerCellLines/csm_models/StanDep/mCADRE/*

CSMs_construction/HPA/csm_models/Localgini/FASTCORE/*
CSMs_construction/HPA/csm_models/Localgini/GIMME/*
CSMs_construction/HPA/csm_models/Localgini/iMAT/*
CSMs_construction/HPA/csm_models/Localgini/INIT/*
CSMs_construction/HPA/csm_models/Localgini/MBA/*
CSMs_construction/HPA/csm_models/Localgini/mCADRE/*

CSMs_construction/HPA/csm_models/LocalT2/FASTCORE/*
CSMs_construction/HPA/csm_models/LocalT2/GIMME/*
CSMs_construction/HPA/csm_models/LocalT2/iMAT/*
CSMs_construction/HPA/csm_models/LocalT2/INIT/*
CSMs_construction/HPA/csm_models/LocalT2/MBA/*
CSMs_construction/HPA/csm_models/LocalT2/mCADRE/*

CSMs_construction/HPA/csm_models/StanDep/FASTCORE/*
CSMs_construction/HPA/csm_models/StanDep/GIMME/*
CSMs_construction/HPA/csm_models/StanDep/iMAT/*
CSMs_construction/HPA/csm_models/StanDep/INIT/*
CSMs_construction/HPA/csm_models/StanDep/MBA/*
CSMs_construction/HPA/csm_models/StanDep/mCADRE/*

HK_localgini_distinct_thresholds
